{{extend 'main.html'}}

<style type="text/css">
<!--

#down_menu{
  padding: 60px;
}

#ajaxresults{
    background: #ffffff;
    padding: 5px 15px;
    max-height: 400px;
    overflow: auto;
    position: absolute;
    z-index: 99;
    border: 1px solid #A9A9A9;
    border-width: 0 1px 1px 1px;
    -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    -box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}
#ajaxresults a{
    color:#666666;
}

//-->
</style>

<script type="text/javascript" src="{{=URL('static', 'js', args='jquery.js')}}"></script>
<script type="text/javascript">
jQuery(document).ready(function(){
        hide();
    });

    function getData(value){
        if(value != ""){
            $("#ajaxresults").show();
            $.post("{{=URL(r=request,f='ajaxlivesearch')}}",{tokens:value},function(result){
                $("#ajaxresults").html(result);
            });
        }else{
            hide();
        }
    }

    function hide(){
        $("#ajaxresults").hide();
    }

    function copyToBox(value){
        $("#result").val(value);
        hide();
    }   
</script>

{{block menu}}
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">{{=T(response.title)}}</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="{{=URL('index')}}">Home</a></li>
        <li><a href="#about">Sobre</a></li>
        <li><a href="#contact">Contato</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li class="dropdown-header">Nav header</li>
            <li><a href="#">Separated link</a></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
      {{if auth.is_logged_in():}}
      <ul class="nav navbar-nav navbar-right">
        <li>{{='auth' in globals() and auth.navbar(separators=(' ',' | ',' '))}}</li>
      </ul>
     {{pass}}
    </div><!--/.nav-collapse -->
  </div>
</div>
{{end}}


{{block jumbo}}
{{end}}

<div id="down_menu">
	
	<br>
    {{=form}}
    <div id="ajaxresults"></div>
    {{if result != None:}}
    <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Itens</div>
      <div class="panel-body">  
        <p>Instiuição e projetos relacionados</p>
      </div>
      <!-- Table -->
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Instituição</th>
            <th>Projeto</th>
          </tr>
        </thead>
        {{for row in result:}}
        <tr>
          <td>{{=row.institution.id}}</a></td>
          <td><a href="{{=URL('ocean', args=row.institution.name)}}">{{=row.institution.name}}</a></td>
          <td><a href="{{=URL('projects', args=row.project.name)}}">{{=row.project.name}}</a></td>
        </tr>
        {{pass}}
      </table>
    </div>
    {{pass}}
</div>



